*~
*.nav
*.snm
*.bak
*.swp
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.nfs*
*.pdf
*.csh

loi/*.csh
loi/loi.*
!loi/loi.tex
!loi/loi.pdf

loi/figures/*
loi/old/*

application/bibunits/

applicationLong/application.pdf
applicationLong/ganttChart/*.png

deliverablesPastFutureWork/deliverablesPastFutureWork.*
!deliverablesPastFutureWork/deliverablesPastFutureWork.tex
!deliverablesPastFutureWork/deliverablesPastFutureWork.pdf

applicationLong/figures/interactiveVisualAnalytics*.*

temporary/*

rebuttal/lettersOfSupport/*
!rebuttal/rebuttal.pdf
!rebuttal/rebuttalByReviewer.pdf
